@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

.spinner {
  margin: 20px auto;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.show {
  display: flex;
}

.spinner .circle {
  animation: spinners linear infinite;
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #f00;
  border-radius: 50%;
}

.spinner .one {
  width: 50px;
  height: 50px;
  border-top-color: #8f3b76;
  animation-duration: 0.85s;
}

.spinner .two {
  width: 70px;
  height: 70px;
  border-top-color: #c7417b;
  animation-duration: 0.95s;
}

.spinner .three {
  width: 100px;
  height: 100px;
  border-top-color: #f5487f;
  animation-duration: 1.05s;
}

@keyframes spinners {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
